<html>

<head>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body ng-app='tresamigos' ng-cloak ng-controller="AppController as app">


<header>
    <div class="button-group">
        <button ng-click="app.showGivens = !app.showGivens" ng-class="{selected: app.showGivens}">Givens</button>
        <button ng-click="app.showWhens = !app.showWhens" ng-class="{selected: app.showWhens}">Whens</button>
        <button ng-click="app.showThens = !app.showThens" ng-class="{selected: app.showThens}">Thens</button>
    </div>

</header>

<section>
<div class="content currentFeatures" >



    <div ng-if="app.showGivens">
        <h2>Givens</h2>
        <label for="givenSearch">Search Givens</label>
        <input id="givenSearch" name="givenSearch" ng-model="givenSearch">

        <button ng-if="!filteredGivens.length" ng-click="app.createStep(givenSearch, 'given')">Add</button>
        <ul>
            <li ng-repeat="item in filteredGivens = (app.currentFeatures.givens | filter:givenSearch)" ng-click="app.addStep(item)">{{item.step}} </li>
        </ul>
    </div>
    <div ng-if="app.showWhens">
        <h2>Whens</h2>
        <label for="whenSearch">Search Whens</label>
        <input id="whenSearch" name="whenSearch" ng-model="whenSearch">
        <button ng-if="!filteredWhens.length" ng-click="app.createStep(whenSearch, 'when')">Add</button>
        <ul>
            <li ng-repeat="item in filteredWhens = (app.currentFeatures.whens | filter:whenSearch)" ng-click="app.addStep(item)">{{item.step}} </li>
        </ul>
    </div>

    <div ng-if="app.showThens">
        <h2>Thens</h2>
        <label for="thenSearch">Search Thens</label>
        <input id="thenSearch" name="thenSearch" ng-model="thenSearch">
        <button ng-if="!filteredThens.length" ng-click="app.createStep(thenSearch, 'then')">Add</button>
        <ul>
            <li ng-repeat="item in filteredThens = (app.currentFeatures.thens | filter:thenSearch)" ng-click="app.addStep(item)">{{item.step}} </li>
        </ul>
    </div>
</div>

<div class="feature-content newFeatures">
    <h1> New Feature </h1> <button id="clearNewFeatures" ng-click="app.clearNew()">Clear </button>
    <div class="new-feature-box">
        <ul>
            <li ng-repeat="item in app.newFeatures.givens">{{item.step}}</li>
            <li ng-repeat="item in app.newFeatures.whens">{{item.step}}</li>
            <li ng-repeat="item in app.newFeatures.thens">{{item.step}}</li>
        </ul>
    </div>

</div>

</section>


<script type="text/javascript" src="/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="/src/app.js"></script>
</body>
</html>
